body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.section {
    background-color: #232323;
    padding: 2em;
}

.section:nth-child(2n) {
    background-color: #1c1c21;
}

.title {
    font-size: 2.7em;
    color: white;
    font-weight: 100;
    letter-spacing: 0.2em;
    text-align: center;
}

.case {}

.name {
    font-size: 1.8em;
    color: white;
    font-weight: 300;
    text-align: center;
    padding-top: 0.5em;
    margin: 0.5em;
}

.card:last-child {
    padding-top: 2em;
}

.lang {
    font-size: 1.3em;
    color: white;
    padding-bottom: 0;
    padding-left: 0.4em;
    font-weight: 200;
    letter-spacing: 0.07em;
}

.code {
    font-size: 1.15em;
    margin: 0.4em 0 0 0;
    padding: 0.4em;
    line-height: 1.3em;
}

#fork-me {
    position: absolute;
    right: 0;
}

#note {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    padding: 0.6em;
    background: #414141;
    font-weight: 300;
    letter-spacing: 0.05em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #414141;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3c3c3c;
}

li a.selected {
    background-color: #4e4e4e;
}

.center {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #414141;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    color: darkgray;
}