body {
    font-family: "Helvetica Neue", sans-serif;
}

.list-group {
    color: #232323;
}

.list-group-item {
    color: #232323;
}

.section .list-group-item {
    background-color: #232323;
}

.title {
    font-size: 2em;
    color: white;
    font-weight: 100;
    letter-spacing: 0.2em;
    text-align: center;
    padding-bottom: 0.5em;
}

.case {}

.name {
    font-size: 3em;
    color: white;
    font-weight: 300;
    text-align: center;
    padding-top: 0.5em;
    margin: 0.5em;
}

.lang {
    font-size: 1.25em;
    color: white;
    font-weight: 200;
    letter-spacing: 0.07em;
}

.code {
    font-size: 1em;
}

#fork-me {
    position: absolute;
    right: 0;
}

.header-title {
    font-size: 2em;
    color: #fff;
    background: #414141;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.header {
    background-color: #414141;
    font-size: 1.5em;
}

.header a {
    color: white;
}

li a:hover {
    background-color: #3c3c3c;
}

.selected {
    background-color: #4e4e4e;
}

footer {
    background-color: #414141;
    font-size: 1em;
    color: white;
}

nav {
    background-color: #414141;
    font-size: 1em;
}

nav .active {
    background-color: #4e4e4e;
}